<p>This is Parent Component</p>
<div class="border border-primary m-4 p-4 col-md-6">
<app-child [MSG]="msg" (msgEvent)="getMsgFromChild($event)"></app-child>
</div>
{{msgFromChild}}

<hr>
<br>
{{msgFromChildWithOutput}}

{{magFromService}}