<style>
        .center {
          margin: auto;
          width: 90%;
          border: 2px solid #73AD21;
          padding: 10px;
        }
        </style>
<form novalidate [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="form-group center jumbotron col-md-8 offset-md-4">
    Angular Forms Demo (Reactive Form)<br><br>
        First name:<br>
        <input id="fName" class="form-control" type="text" name="firstname" placeholder="First Name" formControlName="firstname">
        <div class="alert alert-danger" *ngIf="!contactForm.controls.firstname.valid && (contactForm.controls.firstname.dirty || contactForm.controls.firstname.touched)">
            <div *ngIf="contactForm.controls.firstname.errors.required">
                required...!!
            </div>
            <div *ngIf="contactForm.controls.firstname.errors.minlength">
                Min Length...
            </div>
        </div>
        <br>
        Last name:<br>
        <input id="lName" class="form-control" type="text" name="lastname" placeholder="Last Name" formControlName="lastname" >
        <div class="alert alert-danger" *ngIf="!contactForm.controls.lastname.valid && (contactForm.controls.lastname.dirty || contactForm.controls.lastname.touched)">
            This Field is Required..!!!
        </div>
        <br>
        Email:<br>
        <input id="email" class="form-control" type="email" name="email" placeholder="name@example.com" formControlName="email">
        <div class="alert alert-danger" *ngIf="!contactForm.controls.email.valid && (contactForm.controls.email.dirty || contactForm.controls.email.touched)">
            <div *ngIf="contactForm.controls.email.errors.required">
                This Field is Required..!!!
            </div>
            <div *ngIf="contactForm.controls.email.errors.pattern">
                Invalid Email Id..!!!
            </div>
        </div>
        <br>
        Mobile Number:<br>
        <input id="Mobile" class="form-control" type="number" name="mobile" placeholder="Mobile Number" formControlName="mobile">
        <div class="alert alert-danger" *ngIf="!contactForm.controls.mobile.valid && (contactForm.controls.mobile.dirty || contactForm.controls.mobile.touched)">
            This Field is Required..!!!
        </div>
        <br>
        <div class="col-md-8 ">
            <button class="btn btn-success" [disabled]="contactForm.invalid" style="align-content: center;">Submit</button>
            &nbsp; &nbsp;
            <button type="reset" class="btn btn-danger" style="align-content: center;">Reset</button>
    </div>
    </div>
</form>
<div>
    <pre>Form Value: {{contactForm.value | json}}</pre>
</div>
<div>
    <pre>Form Status: {{contactForm.status}}</pre>
</div>
<div>
    <pre>Form Touched: {{contactForm.touched}}</pre>
</div>

    

