<style>
    .center {
        margin: auto;
        width: 90%;
        border: 2px solid #73AD21;
        padding: 10px;
    }
</style>
<form novalidate [formGroup]="employeeForm" (ngSubmit)="onUpdate()">
    <div class="form-group center jumbotron col-md-4 offset-md-4">
        Angular Forms Demo (Reactive Form)<br><br>
        First name:<br>
        <input id="fName" class="form-control" type="text" name="firstName" placeholder="First Name"
            formControlName="firstName">
        <div class="alert alert-danger"
            *ngIf="!employeeForm.controls.firstName.valid && (employeeForm.controls.firstName.dirty || employeeForm.controls.firstName.touched)">
            <div *ngIf="employeeForm.controls.firstName.errors.required">
                required...!!
            </div>
        </div>
        <br>
        Last name:<br>
        <input id="lName" class="form-control" type="text" name="lastname" placeholder="Last Name"
            formControlName="lastName">
        <div class="alert alert-danger"
            *ngIf="!employeeForm.controls.lastName.valid && (employeeForm.controls.lastName.dirty || employeeForm.controls.lastName.touched)">
            This Field is Required..!!!
        </div>
        <br>

        Age:<br>
        <input id="Mobile" class="form-control" type="number" name="Age" placeholder="Age" formControlName="Age">
        <div class="alert alert-danger"
            *ngIf="!employeeForm.controls.Age.valid && (employeeForm.controls.Age.dirty || employeeForm.controls.Age.touched)">
            This Field is Required..!!!
        </div>
        <br>

        Designation:<br>
        <input id="email" class="form-control" type="text" name="Designation" placeholder="Software Engineer"
            formControlName="Designation">
        <div class="alert alert-danger"
            *ngIf="!employeeForm.controls.Designation.valid && (employeeForm.controls.Designation.dirty || employeeForm.controls.Designation.touched)">
            This Field is Required..!!!
        </div>
        <br>
        <div class=" container col-md-5">
            <button class="btn btn-success" [disabled]="employeeForm.invalid">Save</button>
            &nbsp; &nbsp;
            <button type="reset" class="btn btn-danger">Reset</button>
        </div>
    </div>
</form>