<!-- <div class="row"> -->
<!-- <app-product></app-product> -->

<!-- <div class="border border-primary m-4 p-4 col-md-4">
<app-parent></app-parent>
</div>
<div class="border border-primary m-4 p-4 col-md-4">
<app-other></app-other>
</div>



 <div class="col-md-6">    
    <app-form-demo></app-form-demo> -->
<!-- </div> -->
<!-- 
<div class="col-md-12">    
        <app-reactive-form></app-reactive-form>
    </div> -->
<!-- <div class="form-group">
<button class=" btn btn-success" (click)="redirectTo()" >Click Here</button>
<hr>
<button class=" btn btn-success" [routerLink]="['/TemplateForm']">Click Here</button>
 
</div> -->
<router-outlet></router-outlet>
<!-- [routerLink]="['/TemplateForm']" -->