
<h1>Products</h1>
<h3>String Interpolation</h3>
<h3>Name : {{items.name}}</h3>
<h3>Price : {{items.price}}</h3>

<hr><br>
<div>
    <h3>Property Binding</h3>
    <input class="form-control" [value]="name1">
</div>
<br>
<hr><br>
<div>
    <h3>Event Binding</h3>
    <button class="btn btn-success" (click)="showProduct(items)">Click Here</button> 
</div>
<br>
<hr><br>
<input class="form-control" [(ngModel)]="name2">
<br>
<h3>Hello: {{name2}}</h3>
<br>
<hr>
<br>
<table class="table table-striped table-hover">
    <thead>
        <th>ID</th>
        <th>First Name</th>
        <th>Branch</th>
    </thead>
    <tbody>
        <tr *ngFor="let student of students" class="active">
            <th>{{student.id}}</th>
            <th>{{student.name | piPe:student.Branch | uppercase}}</th>
            <th>{{student.Branch }}</th>

        </tr>
        <tr *ngIf="students.length <= 0">
            <th>Data Not Available..!!!</th>

        </tr>
    </tbody>
</table>

<!-- <ul *ngFor="let data of students">
    <li>{{data.id}}</li>
    <li>{{data.name}}</li>
    <li>{{data.Branch}}</li>

</ul> -->