<style>
        .center {
          margin: auto;
          width: 90%;
          border: 2px solid #73AD21;
          padding: 10px;
        }
        </style>
<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" novalidate>
    <div class="form-group center jumbotron col-md-8 offset-md-4">
    Angular Forms Demo(Template Driven)<br><br>
        First name:<br>
        <input id="fName" class="form-control" type="text" name="firstname" placeholder="First Name" ngModel required>
        <div class="alert alert-danger" *ngIf="!contactForm.controls.firstname.valid && (contactForm.controls.firstname.dirty || contactForm.controls.firstname.touched)">
                First Name is not valid..!!!
            <div class="alert alert-danger" *ngIf="contactForm.controls.firstname.errors.required">
                    First Name is not valid..!!!
            </div>
            <div class="alert alert-danger" *ngIf="contactForm.controls.firstname.errors.minlength">
                    First Name is not valid (Min length is 5)..!!!
            </div>
        </div>
        <br>
        Last name:<br>
        <input id="lName" class="form-control" type="text" name="lastname" placeholder="Last Name" ngModel required>
        <div class="alert alert-danger" *ngIf="!contactForm.controls.lastname.valid && (contactForm.controls.lastname.dirty || contactForm.controls.lastname.touched)">
            Last Name is not valid..!!!
        </div>
        <br>
        Email:<br>
        <input id="email" class="form-control" type="email" name="email" placeholder="name@example.com" ngModel required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
        <div class="alert alert-danger" *ngIf="!contactForm.controls.email.valid && (contactForm.controls.email.dirty || contactForm.controls.email.touched)">
            <div *ngIf="contactForm.controls.email.errors.required">
                Email required..!!!
            </div>
            
            <div *ngIf="contactForm.controls.email.errors.pattern">
                Invalid Email...!!!
            </div>
        </div>
        <br>
        Mobile Number:<br>
        <input id="Mobile" class="form-control" type="number" name="mobile" placeholder="Mobile Number" ngModel required pattern="[6789][0-9]{9}">
        <div class="alert alert-danger" *ngIf="!contactForm.controls.mobile.valid && (contactForm.controls.mobile.dirty || contactForm.controls.mobile.touched)">
            <div *ngIf="contactForm.controls.mobile.errors.required">
                Mobile Number is required..!!!
            </div>
            <div *ngIf="contactForm.controls.mobile.errors.pattern">
                Invalid Mobile Number..!!!
            </div> 
        </div>
        <br>
        <div class="col-md-8 ">
            <button class="btn btn-success" [disabled]="contactForm.invalid" style="align-content: center;">Submit</button>
            &nbsp; &nbsp;
            <button type="reset" class="btn btn-danger" style="align-content: center;" (click)="ResetData(contactForm)">Reset</button>
    </div>
    </div>
</form>

<div>
    <pre>Form Value: {{contactForm.value | json}}</pre>
</div>
<div>
    <pre>Form Status: {{contactForm.status}}</pre>
</div>
<div>
    <pre>Form Touched: {{contactForm.touched}}</pre>
</div>
<div>
    <pre>Form Submitted: {{contactForm.submitted | json}}</pre>
</div>
