<button class="btn btn-primary" [routerLink]="['/create-employee']">Add Employee</button>
<table class="table table-striped table-hover">
    <thead>
        <th>ID</th>
        <th>Full Name</th>
        <th>Age</th>
        <th>Designation</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr *ngFor="let emp of employeeList, let i = index">
            <th>{{i+1}}</th>
            <th>{{emp.firstName}} {{emp.lastName}}</th>
            <th>{{emp.Age}}</th>
            <th>{{emp.Designation}}</th>
            <td colspan="2">
                <button class="btn btn-warning" routerLink="/update-employee/{{emp.id}}">Edit</button>
                &nbsp;&nbsp;
                <button class="btn btn-warning" (click)="deleteEmp(emp.id)">Delete</button>
            
            </td>
        </tr>
    </tbody>
</table>