<p>This is Child Component</p>
{{MSG}}
<hr><br>
<button class="btn btn-success" (click)="sendToParent()"> Send to Parent</button>
<br><hr>
<button class="btn btn-danger" (click)="changeMsgService()">Service</button>
<hr><br>
{{msgFromService}}
